<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>Lista de contações salvas no arquivo!!</h1>
  <div>
    <button onclick="location.reload()">Atualizar Página</button>
    <a href="http://localhost:8282/cotacao" target="_blank">
      <button>Ver Cotação Dollar</button>
    </a>
  </div>
    {{if .DollarValues}}
    <table>
      <thead>
        <tr>
          <th>Dollar</th>
        </tr>
      </thead>
      <tbody>
        {{range .DollarValues }}
        <tr>
          <td>{{ . }}</td>
        </tr>
        {{end }}
      </tbody>
    </table>
    {{else}}
    <p>Nenhum valor de Dollar disponível.</p>

    <p>Geralmente as <b>3 Primeiras</b> chamadas para a APi de https://economia.awesomeapi.com.br/json/last/USD-BRL  estão <b>Excedendo </b> o timeout de <b>200ms</b>  solicitado no desafio retornando o erro<br>
      Então favor executar a rota <b>http://localhost:8282/cotacao</b>  a cima de 4 vezes e os dados serão cadastrados com sucesso! .</p>

    <p><b> Client</b><br>
      Rota: <b>http://locahost:8282/</b>  => serve apenas para mostar os dados salvo no arquivo cotacao.txt  <br>
      Rota: <b>http://locahost:8282/cotacao</b> =>  faz a chamada na api do serve e mostar o response na tela   <br>
    <p>
    <p><b>Api serve</b><br>
      Rota: <b>http://locahost:8080/cotacao</b> =>  faz a buscar interna a uma api de terceiro e retornar a cotação ou possivel erros (timeout)  <br><p>
    {{end}}
</body>

</html>